.vs/
bin/
obj/
*.user
*.suo
*.cache
*.db
*.pdb
*.xbf
*.pri
*.intermediate
*.resfiles
*.g.cs
*.g.i.cs
*.AssemblyInfo.cs
*.AssemblyReference.cache
*.csproj.FileListAbsolute.txt
*.sourcelink.json
*.xaml
*.xaml.cs

